<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add
      name="GearHostDB"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=openuniversitydb;User ID=openuniversitydb;Password=C#20586;TrustServerCertificate=False;"/>

    <add
      name="UniversityDbLocalHost"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(local)\sqlexpress;Initial Catalog=OpenUniversityDB;Integrated Security=True"/>
  </connectionStrings>
  <!--Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False-->

</configuration>